{% extends 'base.html.twig' %}

{% block title %}Ajout d'un film{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    <!-- Affichage du formulaire -->
    {{ form(formulaireAjoutFilm) }}
{% endblock %}