
<!-- Navigation -->
<div class="row">
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('movie_list') }}">Liste des films</a>
        <a href="{{ path('movie_listJson') }}">Liste des films en JSON</a>
        <a href="{{ path('movie_addForm') }}">Ajouter un film</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Liens acteurs -->
        <a href="{{ path('actor_index') }}">Liste des acteurs</a>
    {% endif %}
</div>